<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Questions</title>
    <script src="../server.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">

</head>
<body>
    <header>

    </header>
    <section>
        <h1>Full Stack Web Development</h1>
        <h1>Interview Questions</h1>
    </section>
    <section>
        <form action="/getQuestions" method="get" id="questionForm">
            <button type="submit" class="pushable">
                <span class="front"> Get random interview question </span>
            </button>
        </form>
    </section>
    <section>
        <section>

        </section>
            <% for(let i=0; i < info.length; i++)  {%>
                <section class="animate__animated animate__bounceIn">
                    <header class="cue">
                        <h3 class="cue"> <%= info[i].question %> </h3>
                    </header>
                    <footer class="cue">
                        <h2 class="cue"> <%= info[i].type.toUpperCase() %>  </h2>
                    </footer>
                </section> 
            <% } %>

        <section>

        </section>
    </section>
    <footer>

    </footer>
</body>
</html>